<p>Total Undiscounted Revenue: <%= number_to_currency(get_total_revenue/100.0)  %></p>
<p>Total Discounted Revenue: <%= number_to_currency((get_total_revenue - get_total_discounted_amount)/100.0)  %></p>