<header id="admin_header">
  <h2>Admin Dashboard</h2>
  <%= link_to "Create New Merchant", new_admin_merchant_path %>
</header>
<nav>
</nav>
<section id="merchants">
  <h3>Enabled Merchants</h3> 

  

<% @merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></p>
  </div>
<% end %>
