<h2><%= @merchant.name %></h2>
<p>Percentage Discount: <%= @bulk_discount.percentage_discount %>%</p>
<p>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></p>

<%= link_to "Edit", edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %>